<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'inc1-cmn/01_head.tpl' %}
</head>

<body>
  {% include 'inc1-cmn/02_header-area.tpl' %}

  <!-- ********** Hero Area Start ********** -->
  {% include 'inc3-salvia/01_hero-area.tpl' %}
  <!-- ********** Hero Area End ********** -->

  <div class="regular-page-wrap section-padding-50">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10">
          <div class="single-blog-content mb-70">

            {% include 'inc3-salvia/02_content.tpl' %}

          </div>
        </div>
      </div>

      {% include 'inc3-salvia/03_related-post.tpl' %}

      {% include 'inc3-salvia/04_comment.tpl' %}

    </div>
  </div>

  {% include 'inc1-cmn/09_footer-area.tpl' %}
</body>

</html>
