<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'inc1-cmn/01_head.tpl' %}
</head>

<body>
  {% include 'inc1-cmn/02_header-area.tpl' %}

  <!-- ********** Hero Area Start ********** -->
  {% include 'inc2-tulip/01_hero-area.tpl' %}
  <!-- ********** Hero Area End ********** -->

  <div class="main-content-wrapper section-padding-50">
    <div class="container">
      <div class="row justify-content-center">

        <!-- ============= Post Content Area Start ============= -->
        <div class="col-12 col-lg-8">
          <div class="post-content-area mb-50">

            {% include 'inc2-tulip/02_latest.tpl' %}

            {% include 'inc2-tulip/03_activity.tpl' %}

          </div>
        </div>

        <!-- ========== Sidebar Area ========== -->
        <div class="col-12 col-md-8 col-lg-4">
          <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.1s">

            {% include 'inc2-tulip/04_writer.tpl' %}

            {% include 'inc2-tulip/05_archive.tpl' %}

            {% include 'inc2-tulip/06_pickup-side.tpl' %}

          </div>
        </div>
      </div>

      {% include 'inc2-tulip/07_pickup-bottom.tpl' %}

    </div>
  </div>

  {% include 'inc1-cmn/09_footer-area.tpl' %}
</body>

</html>
